<table class="table table-compact table-noborder">
    <thead>
        <tr>
            <th class="left">Email address</th>
            <th>Role</th>
            <th>Activate</th>
            <th class="left">Remove user</th>
            <th class="left">Activate user</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="left">Raji@gmail.com</td>
            <td>Student</td>
            <td>yes</td>
            <td class="left"> <button type="submit" class="btn btn-danger">Remove User</button></td>
            <td class="left"> <button type="submit" class="btn btn-success">Activate User</button></td>
        </tr>

        <tr>
            <td class="left">Raji@gmail.com</td>
            <td>Lecturer</td>
            <td>no</td>
            <td class="left"> <button type="submit" class="btn btn-danger">Remove User</button></td>
            <td class="left"> <button type="submit" class="btn btn-success">Activate User</button></td>
        </tr>
    </tbody>
</table>